# ================================
# Global defaults
# ================================
* text=auto

# ================================
# Minecraft datapack sources
# ================================
*.mcfunction text eol=lf
*.json text eol=lf
*.nbt binary
*.mcmeta text eol=lf

# ================================
# Assets / binary
# ================================
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.webp binary
*.ogg  binary
*.mp3  binary

# ================================
# Archives
# ================================
*.zip binary
*.jar binary

# ================================
# Docs
# ================================
*.md text eol=lf

*.txt text eol=lf
